*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page {
    font-family: 'comicsansms', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #d9afd9, #97d9e1);
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.login-container img {
    margin-bottom: 20px;
}
.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}
.login-container input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container input:focus{
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
.login-container button {
    width:80px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.error-box {
  height: 20px;        
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-text {
  color: red;
  font-size: 14px;
  margin: 0;
  padding: 10px;
}



