/* Modal Background */
.om-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Box */
.om-container {
  background: #fff;
  width: 450px;
  max-height: 80vh;           
  overflow-y: auto;           
  border-radius: 12px;
  padding: 20px;
  position: relative;
}


/* Close Button */
.om-close {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
}
.om-close:hover {
  color: black;
}

/* Title */
.om-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}

/* Preview Image */
.om-preview {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Order Information */
.om-info p {
  text-align: left;
  margin: 6px 0;
  font-size: 15px;
}

/* Download Button */
.om-download {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 15px;
}
.om-download:hover {
  background-color: #2980b9;
}


.om-upload {
  width: 100%;
  padding: 10px;
  background-color: #f04b22;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 15px;
}
.om-upload:hover {
  background-color: #b41905;
}

/* Subtitle */
.om-subtitle {
  margin: 12px 0 8px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

/* Dropdown */
.om-select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  font-size: 14px;
}

/* Assign Button */
.om-assign {
  width: 100%;
  padding: 12px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}
.om-assign:hover {
  background-color: #27ae60;
}

/* Animation */
@keyframes fadeIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
